<h1><%= @user.first_name %>'s Homepage</h1>


<% if @user.service_requests.any? %>
  <p>Current Requests</p>
<% else %>
  <p>No Current Requests</p>
<% end %>


<% @user.service_requests.each do |req| %>
  <ul>
    <li><%= req.service.service_type %>
      <ul>
        <li>provider:</li>
      </ul>
    </li>
  </ul>
<% end %>