<% if Service.highest_rated_services.include?(@service) && @service.average_rating <= 4 %>
  <h1>Congradulations on having a <strong>TOP RATED</strong> service</h1>
<% end %>

<h3><%= @service.service_type %></h3>

<%= render partial: 'shared/review_display', locals: {service: @service} %>